body,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 980px;
  margin: 50px auto;
}

.TodoList li {
  overflow: hidden;
}

.TodoList p {
  float: left;
}

.TodoList button {
  float: right;
}

.TodoList p.completed {
  text-decoration: line-through;
}
